In [8]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [9]:
df=pd.read_csv("social_media_engagement_data.csv")
df.head()

,Platform,Post ID,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Impressions,Reach,Engagement Rate,Audience Age,Audience Gender,Audience Location,Audience Interests,Campaign ID,Sentiment,Influencer ID
0,LinkedIn,d49dadb4-fc1e-4775-88ad-d60b75cf5123,Video,Want that according same wish.,2021-04-23 08:19:49.255108,415,77,85,2619,1842,31.32,29,Other,United Kingdom,respond,NaN,Negative,NaN
1,Instagram,16ce29c5-2dc7-478f-9814-a86754f3ce8b,Video,Increase fast partner south.,2023-07-30 06:40:06.356134,908,125,85,1223,3884,28.78,48,Male,Greece,population,NaN,Neutral,NaN
2,Instagram,6a6cc741-72f4-4111-95a0-c5ee04a175a8,Video,Lawyer behavior born window couple sister.,2021-12-05 03:56:53.211700,412,419,58,2165,849,104.71,55,Male,United States Virgin Islands,himself,NaN,Neutral,NaN
3,Twitter,0b5a3e70-c556-43cb-ad4f-a1d0003348bc,Image,Street great decade must.,2021-09-28 20:39:00.227679,667,153,29,7191,3519,24.13,54,Other,Zambia,safe,NaN,NaN,NaN
4,Facebook,a7d3e958-e2fe-411e-a24a-b96e821fc050,Link,At clear meeting with reason ground continue c...,2023-02-27 17:51:21.425074,659,215,34,3312,2032,44.69,33,Other,Afghanistan,well,6052b8d2-3403-4447-b0b4-c5ce20e6c8d0,NaN,NaN

In [10]:
Linkedindata=df[df["Platform"]=="LinkedIn"]
Linkedindata.head()

,Platform,Post ID,Post Type,Post Content,Post Timestamp,Likes,Comments,Shares,Impressions,Reach,Engagement Rate,Audience Age,Audience Gender,Audience Location,Audience Interests,Campaign ID,Sentiment,Influencer ID
0,LinkedIn,d49dadb4-fc1e-4775-88ad-d60b75cf5123,Video,Want that according same wish.,2021-04-23 08:19:49.255108,415,77,85,2619,1842,31.32,29,Other,United Kingdom,respond,NaN,Negative,NaN
7,LinkedIn,c394636e-4e5c-4453-b096-597e530bd4eb,Link,Win guess me report true.,2023-07-27 06:32:01.557935,627,135,90,9436,1498,56.88,63,Other,Gibraltar,keep,NaN,Neutral,NaN
8,LinkedIn,75142995-8ed2-419d-9632-72a0b631175b,Link,Action other would side.,2023-01-04 16:22:21.076416,1000,378,94,8539,3695,39.84,23,Male,Estonia,number,NaN,NaN,NaN
26,LinkedIn,d6d328d6-e5c5-44f1-893f-782c56826325,Link,Occur unit oil.,2023-04-09 09:27:00.269373,655,296,128,2934,1144,94.32,53,Other,Bangladesh,chair,93a37ec1-23dc-485d-aff9-8566f0e29371,NaN,NaN
27,LinkedIn,14d34185-639a-4508-a8b6-02a743fe0dbc,Link,Seem strategy you cup.,2023-10-26 20:53:33.135680,573,192,19,1949,2797,28.03,40,Male,Gabon,part,NaN,Negative,NaN

In [16]:
import mysql.connector


conn = mysql.connector.connect(
    host='localhost',
    database='projects',
    user='root',
    password='6844'
)

cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Platforms (
    PlatformID INT PRIMARY KEY,
    PlatformName VARCHAR(255)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Posts (
    PostID INT PRIMARY KEY,
    PlatformID INT,
    Date DATE,
    Content TEXT,
    Username VARCHAR(255),
    FOREIGN KEY (PlatformID) REFERENCES Platforms(PlatformID)
)
''')


cursor.execute('''
CREATE TABLE IF NOT EXISTS Engagements (
    EngagementID INT PRIMARY KEY,
    PostID INT,
    EngagementType VARCHAR(255),
    EngagementCount INT,
    Username VARCHAR(255),
    FOREIGN KEY (PostID) REFERENCES Posts(PostID)
)
''')

conn.commit()
conn.close()

print("Tables created successfully!")

Tables created successfully!